@font-face {
  font-family: 'BarlowSemiCondensed';
  font-weight: 400;
  src: url('~@/assets/fonts/BarlowSemiCondensed-Regular.ttf');
}

@font-face {
  font-family: 'BarlowSemiCondensed';
  font-weight: 700;
  src: url('~@/assets/fonts/BarlowSemiCondensed-Bold.ttf');
}

@font-face {
  font-family: 'BarlowSemiCondensed';
  font-weight: 700;
  src: url('~@/assets/fonts/BarlowSemiCondensed-Bold.ttf');
}